[Unit]
Description=Persistent system identity for A/B partitions
Documentation=https://github.com/wlan-pi/wlanpi-persistent-identity
After=local-fs.target
Before=ssh.service systemd-hostnamed.service network-pre.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/setup-persistent-identity
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target